<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta itemprop="description" name="Description"
  content="Async Fragments Demo using Marko"/>
  <title>Update Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>
  <center>
    <h3>Update Book</h3>
    <form   method="post">
      <table>
        <tr><td>Title </td><td><input type="text" name="title" class="form-control" 
        value="${data.book.title}" /></td></tr>
        <tr><td>Author </td><td><input type="text" name="author" class="form-control"
        value="${data.book.author}"/></td></tr>
        <tr><td>ISBN </td><td><input type="text" name="isbn" class="form-control"
        value="${data.book.isbn}"/></td></tr>
        <tr><td>Price </td><td><input type="text" name="price" class="form-control"
        value="${data.book.price}"/></td></tr>
        <tr><td><input type="submit" class="btn btn-default" value="Update "/></td></tr>
      </table>
    </form>
</center>
  </body>

</html>










